
development:
  shards:
    site:
      adapter: sqlite
      database: db/development.sqlite

    data:
      adaper: sqlite
      database: db/development.data.sqlite

production:
  shards:
    site:
      adapter: sqlite
      database: db/production.sqlite

    data:
      adaper: sqlite
      database: db/production.data.sqlite

